*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open sans' , 'Roboto' , 'Lato' ;

}
header{
  font-family: 'Montserrat' , 'Poppins' ,'Raleway';

}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(5, 75, 51);
  position: sticky;
  top: 0;
  z-index: 50;

}

header nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0 1rem;
}

header .desktop-nav-links,
header> a{
  display: flex;
  gap: 1rem;
  padding-right: 6rem;
}

.mobile ul.mobile-dropdown{
  position: absolute;
  right: 0;
  top: 100%;
  background-color: rgb(5, 75, 51);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  width: 60%;
  max-width: 12rem;
  height: calc(100vh - 4rem);
  padding: 2rem 1rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.mobile a{
  color: rgb(243, 198, 83);
  font-weight: 600;
}


.hero{
  width:100%;
  min-height: calc(100vh - 4rem);
  background-image: url("./images/william-bayreuther-C0KdBbibUYo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  gap: 1.5rem;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.hero h1{
  color: #f6f6f6;
  z-index: 3;
  text-align: center;
  font-size: 2.5rem;

}

.hero > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}

.hero p{
  color: #f6f6f6;
  z-index: 3;
  text-align: center;
  width: 90%;
  max-width: 35rem;
  font-size: 1.2rem;
}
button{
  background-color: rgb(5, 75, 51);
  color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 0.8rem 1.35rem;
  margin: 2rem;
  transition: opacity 0.3s ease-in-out;
}

button:hover{
  opacity: 0.9;
}

.feature{
  margin: 4rem 0;
  display: flex;
  gap: 2rem;
  width: 100%;

}

img{
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 15px;
}

.wrapper{
  padding: 0 15;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.intro{
  flex: 1;
  padding-left: 4rem;
  
}


.intro h2:nth-child(1){
  background-color: rgb(253, 236, 199);
  display: inline-flex;
  border-radius: 15px;
  padding: 0.7rem 1rem;

}
.intro h2:nth-child(2){
  margin: 1rem 0;
  font-size: 2rem;
  
}

.intro p{
  width: 70%;
  font-size: 17px;
  margin-bottom: 1rem;
}


/* .feature-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 4rem;
  overflow-wrap: break-word;
}

.feature-image{
  display: flex;
  flex-direction: column;

  
}

.feature-content h2:nth-child(1){
  background-color:  rgb(243, 198, 83);
  color: rgb(5, 75, 51);
  border-radius: 15px;
} */

@media (min-width: 768px){
  .hero p{
    font-size: 1.3rem;
  }
  .hero{
    min-height: 60vh;
  }
}


@media(min-width: 1000px){ 
  .mobile{
    display: none;
  }

  header nav > a {
    display: block;
    gap: 2rem;
    
  }

  header.desktop-nav-links {
    display: flex;
    gap: 1.5rem;
  }

  header .desktop-nav-links a {
    color: #f6f6f6;
    font-size: 0,9rem;
    transition: 0.4s ease-in-out;
  }

  header .desktop-nav-links a:hover{
    background-color: rgb(243, 198, 83);
    padding: 9px;
    border-radius: 6px;
    color: rgb(5, 75, 51);
  }
}